body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  width: 200px; 
  height: 30px; 
}
.carouselimg{
  object-fit: cover;
  max-height: 720px;
}
.header{
  position: fixed;

  top: 30px;
  width: 80%;
  transform: translate(10%, 10%);
  align-self: center;
  border-radius: 20px;

  z-index: 2;
}

h4 {
  color: white;
font-size: 25px;
font-family: 'Nunito Sans', sans-serif;
}
ul{
padding-inline-start: 0px;
}


li{
list-style: none;
font-size: small;
}
a{
text-decoration: none;
color: white;
}
a:hover{
color: #ffffff;
text-decoration: none;
}

.poweredBy{
margin-top: 10px;
position: absolute;
bottom: 10px;
left: 50%;
transform: translate(-50% , -50%);
font-size: 60%;


}

.footer-container{

position: relative;
min-width: 100%;
font-family: 'Nunito Sans', sans-serif;	
}

.info{

text-align: justify;
}

@media only screen and (max-width: 400px){

.poweredBy{
  font-size: 5px;
}

table{
  font-size: 12px;
}

}